.loginPageForm {
  width: 350px;
}
.loginPageInput {
  color: "rgba(0,0,0,.25)";
}
.loginFormP {
  color: #ff0000bf;
  font-size: 0.7rem;
  border: 1px solid;
  padding: 1rem;
  border-radius: 10px;
}
.loginFromItem {
  float: right;
}
